.container{
    width: 375px;
    margin:0 auto;
}
.top_section{
    height:240px;
    background-image: linear-gradient(to right, #67b0ac,#78b7aa,#8fc0a8);
    position: relative;
}
.top_section img{
    width: 76px;
    height: 76px;
    margin-top:95px;
    margin-left:88px;
}
.top_section span{
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    margin-left: 21px;
    font-size: 24px;
    color:white;
    font-family: 'PingFangSC-Medium','PingFang SC';
    font-weight: 500;
    text-align: left;
    position: absolute;
    top:108px;
    left: 185px;
}
.down_section{
    width: 375px;
    height: 427px;
    background-color:white;
    position:absolute;
}
.down_section ::placeholder{
    font-size: 16px;
}
.down_section .login{
    line-height: 35px;
    border:none;
    font-size: 24px;
    margin-top: 65px;
    margin-left:70px;
}

.down_section .login1{
    /* width: 375px;
    height: 35px; */
    /* line-height: 35px; */
    /* margin-top: 30px; */
    padding-left: 25px;
    position: absolute;
    top: 76px;
    /* margin-bottom: 20px; */
}
.down_section .pwd1{
    /* width:375px;
    height:35px; */
    /* line-height: 35px; */
    padding-left: 25px;
    position: absolute;
    top: 130px;
    /* margin-/top: 30px; */
}
hr{
    color:rgba(128, 128, 128, 0.701);
}
.down_section .pwd{
    line-height: 35px;
    /* height: 55px; */
    margin-left: 70px;
    border:none;
    font-size: 24px;
}
.down_section a:focus{
    outline: none;
}
.down_section a{
    display: inline-block;
    height: 22px;
    font-size: 14px;
    color:rgba(128, 128, 128, 0.853);
    line-height: 22px;  
    text-decoration: none;
    position:absolute;
    top:166px;
    right:32px;    
}
.down_section .button1{
    width: 201px;
    height: 46px;
    color:white;
    background-color: #67b0ac;
    border:none;
    position:absolute;
    top:236px;
    left:87px;
}
.down_section .button2{
    width: 201px;
    height: 46px;
    color:#67b0ac;
    background-color: white;
    border:1px solid #67b0ac;
    position:absolute;
    top: 297px;
    left: 87px;
    box-sizing: border-box;
}